@inherits LayoutComponentBase

<PageTitle>BlazorApp3</PageTitle>

<div class="page">
    <div class="sidebar">
        <div class="column">
            <div class="row justify-content-center">
                <img src="https://i.pinimg.com/originals/2d/24/2b/2d242bc8bab909c55e22f1a7a2270803.png" class="col-10 m-3"  />

            </div>
            <div class="row justify-content-center">
                <div class="bg-secondary rounded-1 col-10">
                    <h4 class="card-text text-white text-center">Benjamin Kjellgren Kuurne</h4>
                </div>
            </div>
            <div class="row justify-content-center px-1 my-2">
                <div class="bg-secondary rounded-3 col-10 px-2">
                    <label class="text-white">About Me</label>
                    <ul class="text-white">
                        <li>Avid Gamer</li>
                        <li>History Enthusiast</li>
                        <li>Likes Baking</li>
                        <li>Learning Español & Deutsch</li>
                        <li>Swims Occasionally</li>
                    </ul>

                </div>
            </div>
            <div class="row justify-content-center my-1">
                <div class="bg-secondary rounded-3 col-10 px-2">
                    <label class="text-white">Contact Me</label>
                    <ul>
                        <li class="text-white">Email: Benjamin.Kjellgren@hotmail.se</li>
                        <li class="text-white">Phone: +46 000000000</li>

                    </ul>
                   
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
